
.idea/
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/libraries/Maven__com_sparkjava_spark_core_2_9_3.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_11.xml
.idea/libraries/Maven__org_apache_velocity_velocity_engine_core_2_3.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_client_9_4_31_v20200723.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_http_9_4_31_v20200723.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_io_9_4_31_v20200723.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_security_9_4_31_v20200723.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_server_9_4_31_v20200723.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_servlet_9_4_31_v20200723.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_util_9_4_31_v20200723.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_webapp_9_4_31_v20200723.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_xml_9_4_31_v20200723.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_api_9_4_31_v20200723.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_client_9_4_31_v20200723.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_common_9_4_31_v20200723.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_server_9_4_31_v20200723.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_servlet_9_4_31_v20200723.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Maven__org_springframework_security_spring_security_core_5_6_1.xml
.idea/libraries/Maven__org_springframework_security_spring_security_crypto_5_6_1.xml
.idea/libraries/Maven__org_springframework_spring_aop_5_3_14.xml
.idea/libraries/Maven__org_springframework_spring_beans_5_3_14.xml
.idea/libraries/Maven__org_springframework_spring_context_5_3_14.xml
.idea/libraries/Maven__org_springframework_spring_core_5_3_14.xml
.idea/libraries/Maven__org_springframework_spring_expression_5_3_14.xml
.idea/libraries/Maven__org_springframework_spring_jcl_5_3_14.xml
.idea/libraries/Maven__org_xerial_sqlite_jdbc_3_36_0_3.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
*.iml
./minitwit-legacy/__pycache__/
./__pycache__

minitwit/target/**
