#macro(mainLayout)
<!doctype html>
<title>{% block title %}Welcome{% endblock %} | MiniTwit</title>
<link rel=stylesheet type=text/css href="/style.css">
<div class=page>
  <h1>MiniTwit</h1>
  <div class=navigation>
  #if ($user) %}
    <a href="${urls.TIMELINE}">my timeline</a> |
    <a href="${urls.PUBLIC_TIMELINE}">public timeline</a> |
    <a href="${urls.LOGOUT}">sign out [{{ g.user.username }}]</a>
  #else
    <a href="${urls.PUBLIC_TIMELINE}">public timeline</a> |
    <a href="${urls.REGISTER}">sign up</a> |
    <a href="${urls.LOGIN}">sign in</a>
  #end
  </div>
  #if ($splash.size() != 0)
    <ul class=fs>
    #foreach( $message in $splash )
      <li>$message</li>
    #end
    </ul>
  #end
  <div class=body>
    $bodyContent
  </div>
  <div class=footer>
    MiniTwit &mdash; A Flask Application
  </div>
</div>
#end
