#macro(mainLayout)
<!doctype html>
<title>${title} | MiniTwit</title>
<link rel=stylesheet type=text/css href="/style.css">
<div class=page>
  <h1>MiniTwit</h1>
  <div class=navigation>
  #if ($user)
    <a href=${USER}>my timeline</a> |
    <a href=${PUBLIC_TIMELINE}>public timeline</a> |
    <a href=${LOGOUT}>sign out [$user]</a>
  #else
    <a href=${PUBLIC_TIMELINE}>public timeline</a> |
    <a href=${REGISTER}>sign up</a> |
    <a href=${LOGIN}>sign in</a>
  #end
  </div>
  #if ($alerts && $alerts.size() != 0)
    <ul class=flashes>
    #foreach( $message in $alerts )
      <li>$message</li>
    #end
    </ul>
  #end
  <div class=body>
    $bodyContent
  </div>
  <div class=footer>
    MiniTwit &mdash; A Spark Application
  </div>
</div>
#end
